.bs-example{
  width: 600px;
margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}
.bd-highlight{
  background-color: #ffe1ef;
border: 1px solid #f75da4;
}

body{
    padding: 2rem 0rem;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
